@import 'tailwindcss';

*{
    font-family: 'Rubik', sans-serif;
}

html{
    scroll-behavior: smooth;
}

@theme inline static {
    --color-periwinkle: #6562ff;
    --color-sandy: #ff812e;
    --color-tiffany: #45ee91ff;
    --color-night: #0e0e0e;
    --color-antiflash-white: #eee;
}